//stance
@-webkit-keyframes play {
   from { background-position: 0px; }
     to { background-position: 1188px; }
}
//stance2
@-webkit-keyframes play2 {
   from { background-position: 0px; }
     to { background-position: 693px; }
}
//victory
@-webkit-keyframes play3 {
   from { background-position: 0px; }
     to { background-position: 396px; }
}
//walk
@-webkit-keyframes play4 {
   from { background-position: 0px; }
     to { background-position: 891px; }
}
//duck
@-webkit-keyframes play5 {
   from { background-position: 0px; }
     to { background-position: 297px;}
}
//jump
@-webkit-keyframes play6 {
   from { background-position: 0px; }
     to { background-position: 297px; }
}

//punch
@-webkit-keyframes play8 {
   from { background-position: 0px; }
     to { background-position: 1152px; }
}
//kick
@-webkit-keyframes play9 {
   from { background-position: 0px; }
     to { background-position: 297px; }
}
//block
@-webkit-keyframes play10 {
   from { background-position: 0px; }
     to { background-position: 297px; }
}
//being hit
@-webkit-keyframes play11 {
   from { background-position: 0px; }
     to { background-position: 297px; }
}
//fall & get up
@-webkit-keyframes play12 {
   from { background-position: 0px; }
     to { background-position: 297px; }
}
//dizzy
@-webkit-keyframes play13 {
   from { background-position: 0px; }
     to { background-position: 297px; }
}
//finished
@-webkit-keyframes play14 {
   from { background-position: 0px; }
     to { background-position: 297px; }
}
